{% extends 'applications/base.html'%}
{% block content %}


<div class="max-w-7xl mx-auto mt-6 space-y-6">
    <div class="grid grid-cols-1 sm:grid-cols-4 gap-4">
        <a href="?filter=all&search={{search_query}}">
            <div class="card bg-primary text-primary-content shadow-md p-4 text-center {% if not filter_status or filter_status == 'all' %}ring ring-2 ring-primary ring-offset-2{% endif %}" >
                <h3 class="font-bold text-lg">Total Jobs</h3>
                <p class="text-2xl"> {{ metrics.jobs_total }}</p>
            </div>
        </a>
        <a href="?filter=Applied&search={{search_query}}">
            <div class="card bg-info text-info-content shadow-md p-4 text-center {% if filter_status == 'Applied' %}ring ring-2 ring-info ring-offset-2{% endif %}">
                <h3 class="font-bold text-lg">Applied Jobs</h3>
                <p class="text-2xl">{{ metrics.jobs_applied }}</p>
            </div>
        </a>
        <a href="?filter=Rejected&search={{search_query}}">
            <div class="card bg-error text-error-content shadow-md p-4 text-center {% if filter_status == 'Rejected' %}ring ring-2 ring-error ring-offset-2{% endif %}">  
                <h3 class="font-bold text-lg">Rejected Jobs</h3>
                <p class="text-2xl"> {{ metrics.jobs_rejected }}</p>
            </div>
        </a>
        <a href="?filter=Pending&search={{search_query}}">
            <div class="card bg-warning text-warning-content shadow-md p-4 text-center {% if filter_status == 'Pending' %}ring ring-2 ring-warning ring-offset-2{% endif %}">
                <h3 class="font-bold text-lg">Pending Jobs</h3>
                <p class="text-2xl"> {{ metrics.jobs_pending }}</p>
            </div>
        </a>
    </div>
    <div class="flex justify-between items-center mt-4">
        <form method="get" class="flex space-x-2">
            <div class="relative w-full max-w-md">
                <input type="text" name="search" placeholder="Search by company, position, status..." class="input input-bordered" value="{{ search_query }}">
                {% if search_query %}
                    <a
                        href="{% url 'dashboard' %}"
                        class="absolute inset-y-0 right-3 flex items-center text-gray-400 hover:text-gray-600 cursor-pointer"
                        title="Clear search"
                    >
                    X
                    </a>
                {% endif %}
            </div>
            <button class="btn btn-primary">Search</button>
        </form>
        {% comment %} <select class="select select-bordered w-40">
            <option>Group by Status</option>
            <option>Applied</option>
            <option>Pending</option>
            <option>Rejected</option>
            <option>Interview</option>
        </select> {% endcomment %}
    </div> 

    {% comment %} Job table/ excel like section {% endcomment %}
    <div class="overflow-x-auto mt-4">
        <button class=btn btn-outline btn-sm 
        onclick="document.getElementById('addColumnModal').showModal()">Add Column</button>
        <table class="table table-zebra w-full min-w-max">
            <thead>
                <th>Applied On</th>
                <th>Job</th>
                <th>Link</th>
                <th>Position</th>
                <th>Status</th>
                <th>Notes</th>
                <th class="text-right">Actions</th>

                {% comment %} {% for column in columns %}
                    <th class="whitespace-nowrap">
                        {{ column.name }}
                    </th>
                {% endfor %} {% endcomment %}
            </thead>
            <tbody>
                {% for job in jobs %}
                <tr data-job-id="{{job.id}}" class="group relative hover:bg-base-200 transition">
                    <td>
                        <span class="display">{{job.applied_on|date:'Y-m-d'}}</span>
                        <input type="date" name="applied_on" class="input input-bordered input-sm edit-field hidden"  value="{{job.applied_on|date:'Y-m-d'}}"/>
                    </td>
                    <td>
                        <span class="display">{{job.company}}</span>
                        <input type="text" name="company" class="input input-bordered input-sm edit-field hidden"  value="{{job.company}}"/>
                    </td> 
                    <td>
                        <a class="display underline text-blue-600 hover:text-white" href="{{job.url_link}}" target="new">Link</a>
                        <input type="text" name="url_link" class="input input-bordered input-sm edit-field hidden"  value="{{job.url_link}}"/>
                    </td> 
                    <td>
                        <span class="display">{{job.position}}</span>
                        <input type="text" name="position" class="input input-bordered input-sm edit-field hidden"  value="{{job.position}}"/>
                    </td> <td>
                        <span class="display">{{job.status}}</span>
                        <select name="status" class="select select-bordered select-sm edit-field hidden">
                            <option value="Applied" {% if job.status == 'Applied' %}selected{% endif %}>Applied</option>
                            <option value="Pending" {% if job.status == 'Pending' %}selected{% endif %}>Pending</option>
                            <option value="Interview" {% if job.status == 'Interview' %}selected{% endif %}>Interview</option>
                            <option value="Rejected" {% if job.status == 'Rejected' %}selected{% endif %}>Rejected</option>
                        </select>
                    </td> 
                    <td>
                        <span class="display">{{job.notes}}</span>
                        <input type="text" name="notes" class="input input-bordered input-sm edit-field hidden"  value="{{job.notes}}"/>
                    </td>
                    {% comment %} <td>{{job.company}}</td>
                    <td>{{job.position}}</td>
                    <td>{{job.status}}</td>
                    <td>{{job.notes}}</td> {% endcomment %}



                    {% comment %} {% for column in columns %}
                    <td class="text-gray-400">—</td>
                    {% endfor %} {% endcomment %}
                    <td class="relative">
                        <div class="edit-delete-buttons absolute right-2 top-1/2 -translate-y-1/2
                            flex gap-2
                            opacity-0 translate-x-4
                            group-hover:opacity-100 group-hover:translate-x-0
                            transition-all duration-200">
                            <button 
                                class="btn btn-xs btn-ghost text-info"
                                onclick="editJob(this)"
                                title="Edit"
                                >
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    class="h-4 w-4"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M11 5h2m2 0h3a1 1 0 011 1v3m-2-2L7 17l-4 1 1-4 10-10z" />
                                </svg>
                            </button>

                            <button
                                class="btn btn-xs btn-ghost text-error"
                                onclick="deleteJob({{ job.id }}, this)"
                                title="Delete"
                                >
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    class="h-4 w-4"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M6 7h12M9 7V4h6v3m-7 3v8m4-8v8m4-8v8M5 7h14" />
                                </svg>
                            </button>
                        </div>

                        <div class="save-cancel-buttons absolute right-2 top-1/2 -translate-y-1/2
                            flex gap-2 hidden">

                            <button class="btn btn-xs btn-primary save-btn" onclick="saveJob({{ job.id }}, this)">
                                Save
                            </button>

                            <button class="btn btn-xs btn-outline cancel-btn" onclick="cancelEdit(this)">
                                Cancel
                            </button>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">Track jobs efficiently!</td>
                </tr>
                {% endfor %}
                <tr id="addJobRow" class="hidden bg-base-200">
                    <form method="post" action={% url 'add_job' %}>
                        {% csrf_token %}
                        <td><input type="date" name="applied_on" value="{% now 'Y-m-d' %}" class="input input-bordered input-sm"/></td>
                        <td><input type="text" name="company" class="input input-bordered input-sm" placeholder="Company" required/></td>
                        <td><input type="text" name="url_link" class="input input-bordered input-sm" placeholder="Company" /></td>
                        <td><input type="text" name="position" class="input input-bordered input-sm" placeholder="Position" required/></td>
                        <td>
                            <select name="status" class="select select-bordered select-sm">
                                <option value="Applied">Applied</option>
                                <option value="Pending">Pending</option>
                                <option value="Interview">Interview</option>
                                <option value="Rejected">Rejected</option>
                            </select>
                        </td>
                        <td><input type="text" name="notes" class="input input-bordered input-sm" placeholder="Notes" required /></td>
                        {% comment %} {% for column in columns %}
                        <td class="text-gray-400"><input class="input input-bordered input-sm"/></td>
                        {% endfor %} {% endcomment %}
                        <td><button class="btn btn-primary btn-sm" type="submit">Save</button></td>
                        <td><button class="btn btn-outline btn-sm" type="button"  onclick="document.getElementById('addJobRow').classList.add('hidden')">Cancel</button></td>

                    </form>
                </tr>
            </tbody>
        </table>
        <div class="mt-4 mb-4">
            <button class="btn btn-outline btn-sm" onclick="document.getElementById('addJobRow').classList.remove('hidden')">+ Add Job</button>
        </div>

    </div>

    <dialog id="addColumnModal" class="modal">
        <div class="modal-box">
            <h3 class="font-bold text-lg mb-4">Add custom column</h3>
            <form method="post" action="{% url 'add_custom_column' %}">
                {% csrf_token %}

                <div class="mb-4">
                    <label>Column Name</label>
                    <input type="text" name="name" required class="input input-bordered w-full" />
                </div>

                <div class="mb-4">
                    <label>Field Type</label>
                    <select name="field_type", class="select select-border w-full" onchange="toggleOptions(this.value)">
                        <option value="text">Text</option>
                        <option value="number">Number</option>
                        <option value="date">Date</option>
                        <option value="select">Select</option>

                    </select>
                </div>

                <div class="modal-action">
                    <button class="btn btn-primary" type="submit">Add Column</button>
                    <button class="btn" type="button" onclick="document.getElementById('addColumnModal').close()">Cancel</button>
                </div>
            </form>
        </div>
    </dialog>


    <div class="flex justify-center mt-6">
        <div class="join">
    
            {% if jobs.has_previous %}
                <a class="join-item btn btn-sm"
                href="?filter={{filter_status}}&search={{ search_query }}&page={{ jobs.previous_page_number }}">
                    «
                </a>
            {% else %}
                <button class="join-item btn btn-sm btn-disabled">«</button>
            {% endif %}
    
            <button class="join-item btn btn-sm btn-primary">
                Page {{ jobs.number }} of {{ jobs.paginator.num_pages }}
            </button>
    
            {% if jobs.has_next %}
                <a class="join-item btn btn-sm"
                href="?filter={{filter_status}}&search={{ search_query }}&page={{ jobs.next_page_number }}">
                    »
                </a>
            {% else %}
                <button class="join-item btn btn-sm btn-disabled">»</button>
            {% endif %}
    
        </div>
    </div>
    


</div>

{% endblock %}

{% block scripts %}

<script>


function cancelAddJob() {
    const row = document.getElementById("addJobRow");
    if (!row) return;

    row.classList.add("hidden");

    row.querySelectorAll("input, select").forEach(el => {
        if (el.type !== "hidden") {
            el.value = "";
        }
    });
}


function editJob(button){
    const tr = button.closest("tr");
    const displayEls = tr.querySelectorAll(".display");
    const editEls = tr.querySelectorAll(".edit-field");



    displayEls.forEach(el => el.classList.add("hidden"));
    editEls.forEach(el => el.classList.remove("hidden"));

    tr.querySelector(".edit-delete-buttons").classList.add("hidden");
    tr.querySelector(".save-cancel-buttons").classList.remove("hidden");



    editEls.forEach(el => {
            el.addEventListener("keydown", handleEditKeyDown)
    })


    if (editEls.length > 0) {
        editEls[0].focus();
    }

}


function handleEditKeyDown(event){
    const tr = event.target.closest("tr");
    const jobId = tr.dataset.jobId;

    if (event.key === 'Enter'){
        event.preventDefault();
        saveJob(jobId, tr)
    }

}

function getCSRFToken() {
    return document.querySelector('[name=csrfmiddlewaretoken]').value;
}




function saveJob(jobId, button){
    const tr = button.closest("tr");

    const data = {
        applied_on: tr.querySelector('input[name="applied_on"]').value,
        company: tr.querySelector('input[name="company"]').value,
        url_link: tr.querySelector('input[name="url_link"]').value,
        position: tr.querySelector('input[name="position"]').value,
        status: tr.querySelector('select[name="status"]').value,
        notes: tr.querySelector('input[name="notes"]').value,
    }
    

    fetch(`/jobs/${jobId}/update/`, {
        method: "POST",
        headers:{
            "X-CSRFToken":getCSRFToken(),
            "Content-Type":"application/x-www-form-urlencoded",
        },
        body: new URLSearchParams(data),
    })
    .then(res=>res.json())
    .then(res=>{

        if (!res.success) return;


        tr.querySelectorAll(".display")[0].textContent = res.job.applied_on;
        tr.querySelectorAll(".display")[1].textContent = res.job.company;
        {% comment %} tr.querySelectorAll(".display")[2].textContent = res.job.url_link; {% endcomment %}
        tr.querySelectorAll(".display")[3].textContent = res.job.position;
        tr.querySelectorAll(".display")[4].textContent = res.job.status;
        tr.querySelectorAll(".display")[5].textContent = res.job.notes;
        tr.querySelectorAll(".display").forEach(el => el.classList.remove("hidden"));
        tr.querySelectorAll(".edit-field").forEach(el => el.classList.add("hidden"));
        tr.querySelector(".save-cancel-buttons").classList.add("hidden");
        tr.querySelector(".edit-delete-buttons").classList.remove("hidden");



    })


}


function cancelEdit(button){
    const tr = button.closest("tr")
    const displayEls = tr.querySelectorAll(".display");
    const editEls = tr.querySelectorAll(".edit-field");


    displayEls.forEach(el => el.classList.remove("hidden"));
    editEls.forEach(el => el.classList.add("hidden"));


    tr.querySelector(".save-cancel-buttons").classList.add("hidden");
    tr.querySelector(".edit-delete-buttons").classList.remove("hidden");




   
}

function deleteJob(jobId, button){
    {% comment %} if (!confirm("Are you sure you want to delete this job?")){
        return;
    } {% endcomment %}

    const tr = button.closest("tr");
    
    fetch(`/jobs/${jobId}/delete/`, {
        method: "POST",
        headers:{
            "X-CSRFToken":getCSRFToken(),
            "Content-Type":"application/x-www-form-urlencoded",
        },
    })
    .then(res=>res.json())
    .then(data =>{
        if (data.success){
            tr.classList.add("opacity-0");
            setTimeout(() => tr.remove(), 200);
        }
    })
    .catch(err =>{
        console.error("Delete failed", err);
    });
}




</script>
{% endblock %}
