{% extends "applications/base.html" %}

{% block content %}
<div class="max-w-4xl mx-auto">

    <div class="card bg-base-100 shadow-lg p-8">
        <h1 class="text-3xl font-bold mb-4">
            Track Your Job Applications Effortlessly
        </h1>

        <p class="text-lg mb-6">
            JobTrackr helps job seekers manage applications, track statuses,
            and gain insights — all with Excel-like flexibility.
        </p>

        <button class="btn btn-primary">
            Get Started
        </button>
        
    </div>

    <div class="card bg-base-100 shadow-lg p-6 mt-12">
        <h2 class="text-2xl font-bold mb-4 text-center">
            See JobTrackr in Action
        </h2>
        <div class="aspect-video">
            <iframe class="w-full h-full" src="https://www.youtube.com/embed/6ecTO22ulRM?si=Uf_lyzlR3RVQX0oK&amp;autoplay=1&mute=1&start=5" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>

</div>
{% endblock %}
